/* HIGHSCORE STYLING */

body {
  background-color: wheat;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  max-width: 880px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.table__wrapper {
  width: 65%;
  margin: 0 auto;
  border-radius: 1rem;
  border: 1px solid black;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  border-bottom: 1px solid black;
}

th,
td {
  text-align: left;
  padding: 0.8em 1em;
}

th:nth-child(1),
td:nth-child(1) {
  text-align: left;
  width: 5%;
}

th:nth-child(2),
td:nth-child(2) {
  text-align: left;
  width: 10%;
}

th:nth-child(3),
td:nth-child(3) {
  text-align: center;
  width: 10%;
}

th:nth-child(4),
td:nth-child(4) {
  text-align: right;
  width: 10%;
}

tbody tr:nth-child(1) {
  background-color: #f5e6a8;
}

tbody tr:nth-child(2) {
  background-color: #e7e7e7;
}

tbody tr:nth-child(3) {
  background-color: #d8b38a;
}

/* ABOUT STYLING */

.about__container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.about__container h1 {
  margin-bottom: 5rem;
  text-align: center;
}

.about__container h2,
.about__container h3 {
  margin-bottom: 1rem;
  text-align: left;
}

.about__container p {
  margin-bottom: 3rem;
  line-height: 1.6;
}

.about__rules {
  text-align: left;
  list-style-position: inside;
  padding: 0;
  margin: 0 auto;
}

.about__rules li {
  margin-bottom: 0.7rem;
}

/* HIGHSCORE FILTER STYLING */

.highscores-container {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}

.filter-form {
  display: flex;
  gap: 1rem;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto 2rem auto;

}

.filter-form label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-weight: bold;
}

.filter-fields {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}

.filter-form select,
.filter-form button {
  min-height: 2rem;
  font-size: 1rem;
  padding: 0.3rem;
  border: 1px solid black;
  border-radius: 0.4rem;
}

.filter-form button {
  cursor: pointer;
  width: 3.5rem;
}

.filter-form button:hover {
  background-color: #dad9d9
}