.gameboard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  gap: 0.5rem;
}

.cell {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.future--row .cell {
  border-color: grey;
  opacity: 0.6;
}

.active--row .cell {
  border-color: red;
}

.locked--row .cell {
  background-color: rgb(200, 195, 195);
}

.locked--row .correct--cell {
  background-color: green;
}

.locked--row .incorrect--cell {
  background-color: red;
}

.locked--row .misplaced--cell {
  background-color: yellow;
}