<div class="about__container">
  <h1>About the game</h1>

  <h2>Rules</h2>
  <p>The rules of the game are simple. Try to guess the word!</p>

  <h3>More specific:</h3>
  <ul class="about__rules">
    <li>You have six tries</li>
    <li>You must figure out the word within these tries</li>
    <li>You can choose up to ten letter words</li>
    <li>You can choose to allow double letters or not</li>
    <li>If you fail, just try again!</li>
    <li>Hope you'll enjoy the game!</li>
  </ul>
</div>