.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;

  width: 100%;
  max-width: 48rem;
}

.input__rules {
  display: flex;
}

.input__guess {
  display: flex;
}

.input__guess input {
  display: flex;
  width: 12rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.input__guess .input {
  margin: 0;
}

.input__guess button {
  border-radius: 0.3rem;
  border: 1px solid black;
  color: white;
  background-color: black;
  margin-left: 0.5rem;
}

.letter__length {
  width: 2rem;
}

.game__lost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem
}

.game__won {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

